# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\software\project\spider_demos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
